.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
    overflow: hidden;
  }
  
  .about-me-header,
  .about-me-text,
  .recent-projects-header {
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-container h2 {
    margin-right: 15px; /* Space between the text and animation */
  }
  
  .dancing-person {
    width: 70px; /* Increase the size of the animation */
    height: 70px;
  }
  
  .about-me-text {
    max-width: 600px;
    margin-top: 20px;
  }
  
  .recent-projects {
    margin-top: 50px;
    width: 100%;
  }
  
  .recent-projects-header {
    margin-bottom: 30px;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    text-align: left;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-item img {
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    border-radius: 8px;
    object-fit: cover; /* Ensures the image covers the area with proper scaling */
    margin-right: 20px; /* Space between the image and the text */
  }
  
  .project-details {
    flex: 1; /* Make the text container take up the remaining space */
  }
  
  .project-item h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #444;
  }
  
  .project-item p {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .project-item h4,
  .project-item p {
    margin: 0;
  }