.app-container {
  display: flex;
}

.content {
  margin-left: 250px; /* Same as sidebar width */
  padding: 20px;
  background-color: #f4f4f4;
  width: calc(100% - 250px);
}

h2 {
  color: #333;
}

p {
  color: #555;
}