/* Global Styles */
.app-container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  margin-left: 250px; /* Match this to the sidebar's width */
  padding: 40px;
  background-color: #ecf0f1;
  width: calc(100% - 250px); /* Ensure the content takes the rest of the space */
  min-height: 100vh;
}

h2 {
  color: #2c3e50;
  font-size: 32px;
  margin-bottom: 20px;
  border-bottom: 2px solid #bdc3c7;
  padding-bottom: 10px;
}

p {
  color: #34495e;
  font-size: 18px;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  font-size: 18px;
}

.profile img {
  transition: transform 0.3s ease;
}

.profile img:hover {
  transform: scale(1.1);
}

nav ul li a {
  transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
  transform: translateX(5px);
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .content {
    margin-left: 0;
    padding: 20px;
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}